.footer {
  padding: 60px 0 0;

  .footer__wrap {
    padding: 0;
  }

  .footer__main_block {
    padding: 0;
    max-width: 1536px;
    margin: 0 auto 55px auto;
    display: flex;
    justify-content: space-between;
  }

  .footer__top_block {
    flex-direction: column;
    width: 100%;
  }

  .footer__block_info {
    display: none;
  }

  .footer__midle_block {
    border: none;
    width: 70.3%;
    padding: 5px 64px 0 10px;
  }

  .footer__midle_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer__block_logo {
    padding-left: 60px;
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer__logo {
    pointer-events: none;
    cursor: default;
    font-size: 0;
    line-height: 0;
  }

  .footer__block_logo h3 {
    display: flex;
    flex-direction: column;
    font-family: $title-bold-font;
    font-size: 25px;
    letter-spacing: 0.3px;
    line-height: 19px;
    margin: 11px 0 0 15px;
    color: #203c42;
  }

  .footer__block_logo span {
    font-family: $secondary-font;
    font-size: 12px;
    line-height: 14px;
    color: #788891;
    letter-spacing: 0;
    margin-top: 6px;
  }

  .footer__logo_icon {
    width: 52px;
    height: 52px;
  }

  .footer__block_social {
    margin: 51px 0 0 53px;
    display: flex;
    justify-content: space-between;
    width: 112px;
  }

  .footer__btn {
    display: none;
  }

  .footer__social {
    width: 26px;
    height: 26px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 0;
    line-height: 0;
  }

  .footer__icon {
    fill: #cdcdcd;

    &:hover {
      fill: $auxiliary-color;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .footer__sections,
  .footer__addres {
    padding-top: 0;
  }

  .footer__sections {
    width: 32rem;
    margin-right: 15px;
    padding: 0 0 0 17px;
  }

  .footer__section_title h3,
  .footer__addres_title h3 {
    font-family: $title-font;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1b2d37;
  }

  .footer__section_link,
  .footer__addres_text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: $main-font;
    font-size: 15px;
    line-height: 25px;
    color: rgba($color:  #1b2d37, $alpha: 0.5);
    margin-top: 28px;
  }

  .footer__section_link {
    flex-wrap: wrap;
    height: 100px;
  }

  .footer__section_link a {
    margin-right: 15px;

    @include opacity-link;
  }

  .footer__addres_text a {
    @include opacity-link;
  }

  .footer__addres {
    padding-left: 0;
  }

  .footer__bottom_footer {
    padding: 17px 10px 13px;
    border-top: 1px solid rgba($color:  #626962, $alpha: 0.2);

    .footer__wrap {
      max-width: 1414px;
      margin: 0 auto;
    }
  }

  .footer__bottom_info {
    display: flex;
    justify-content: space-between;
    font-family: $main-font;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: rgba($color: #1b2d37, $alpha: 0.5);
  }

  .footer__bottom_info_all {
    width: 57.5%;
    display: flex;
    justify-content: space-between;
  }

  .footer__bottom_info_all a {
    @include opacity-link;
  }

  .footer__bottom_info p {
    margin: 0;
  }

  .footer__bottom_info_desc {
    width: 453px;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
  }

  @media (max-width: $desktop-width) {
    padding-top: 15px;

    .footer__wrap {
      padding: 0 0.9rem;
      margin: 0 auto;
    }

    .footer__midle_wrap {
      max-width: 800px;
      margin: 0 auto;
    }

    .footer__top_footer {
      margin-bottom: -6px;
    }

    .footer__main_block {
      flex-direction: column;
      margin-bottom: 0;
    }

    .footer__top_block {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;
      margin-left: auto;
      margin-right: auto;
      max-width: 842px;
    }

    .footer__block_logo {
      padding-left: 11px;
      padding-right: 40px;
      padding-top: 4px;
      width: 36%;
    }

    .footer__block_info {
      display: block;
      text-align: center;
      font-family: $main-font;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 0.5px;
      color: rgba($color: #1b2d37, $alpha: 0.5);
      margin: 6px 19px 0 0;
    }

    .footer__block_social {
      margin: 0 17px 0 0;
    }

    .footer__midle_block {
      width: 100%;
      min-height: 292px;
      display: flex;
      justify-content: space-between;
      padding: 39px 26px 11px;
      border-top: 1px solid rgba($color:  #626962, $alpha: 0.2);
      border-bottom: 1px solid rgba($color:  #626962, $alpha: 0.2);
    }

    .footer__sections,
    .footer__addres {
      width: 24rem;
      border-top: none;
      border-bottom: none;
      padding: 0;

      .footer__wrap {
        padding: 0;
      }
    }

    .footer__addres {
      .footer__wrap {
        padding: 0 0 0 8px;
      }
    }

    .footer__section_link,
    .footer__addres_text {
      margin-top: 24px;

      &--close {
        display: flex;
      }
    }

    .footer__section_link {
      flex-wrap: nowrap;
    }

    .footer__addres_text p {
      width: 98%;
    }

    .footer__btn {
      display: none;
    }

    .footer__bottom_footer {
      padding: 22px 13px 24px;
      border: none;

      .footer__wrap {
        max-width: 842px;
        margin: 0 auto;
      }
    }

    .footer__bottom_info {
      display: flex;
      justify-content: space-between;
    }

    .footer__bottom_info_all {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .footer__bottom_info_desc {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    padding-top: 46px;

    .footer__wrap {
      padding: 0 0.9rem;
      margin: 0 auto;
    }

    .footer__top_block {
      flex-direction: column;
      margin-bottom: 0;
    }

    .footer__top_footer {
      margin-bottom: 55px;
    }

    .footer__block_logo {
      display: flex;
      justify-content: center;
      padding: 0;
      margin-bottom: 22px;
      width: 100%;
    }

    .footer__logo_icon {
      width: 52px;
      height: 52px;
    }

    .footer__block_info {
      margin-bottom: 38px;
      margin-left: 19px;
    }

    .footer__block_social {
      width: 128px;
      margin: 0 auto;
    }

    .footer__midle_block {
      border: none;
      padding: 0;
      min-height: auto;
    }

    .footer__midle_wrap {
      flex-direction: column;
    }

    .footer__sections,
    .footer__addres {
      width: 100%;
      border-top: 1px solid rgba($color:  #626962, $alpha: 0.2);
      border-bottom: 1px solid rgba($color:  #626962, $alpha: 0.2);
      padding: 31px 0 26px;
      cursor: pointer;

      .footer__wrap {
        padding: 0 0.9rem;
        max-width: 500px;
      }
    }

    .footer__addres {
      border-top: none;
      margin-bottom: 9px;
    }

    .footer__section_title,
    .footer__addres_title {
      display: flex;
      justify-content: space-between;
    }

    .footer__section_link,
    .footer__addres_text {
      display: none;
      margin-top: 30px;
      height: auto;

      &--open {
        display: flex;
      }

      &--nojs {
        display: flex;
      }
    }

    .footer__addres_text p {
      width: 68%;
    }


    .footer__bottom_info_all {
      flex-direction: column;
      align-items: center;
    }

    .footer__bottom_info p {
      margin-top: 17px;
      margin-bottom: 0;
    }

    .footer__btn {
      @include button-reset;
      display: block;
      width: 16px;
      height: 16px;
      margin-right: 3px;
      outline: none;
      position: relative;
      font-size: 0;
      line-height: 0;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        border: 1px solid #c4c4c4;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        border: 1px solid #c4c4c4;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
      }

      &--open {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          border: 1px solid #c4c4c4;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &::after {
          display: none;
        }
      }
    }

    .footer__bottom_info_desc {
      display: none;
    }
  }
}
