.services {
  color: $main-color-dark-block;
  font-family: $title-font;
  background: #1b2d37;
  padding-top: 85px;
  padding-bottom: 80px;

  .services__wrap {
    max-width: 1220px;
    margin: 0 auto;
  }

  h3 {
    width: 86%;
    font-size: 36px;
    line-height: 38px;
    margin: 8px 5px 59px 24px;
  }

  .services__block-services {
    width: 96%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  a {
    display: block;
    width: 31.6%;
    height: 620px;
    padding: 50px 133px 5px 44px;
    position: relative;
    margin: 0 0 46px 0;
    font-size: 20px;
    line-height: 30px;

    &::before {
      content: "";
      width: 63px;
      height: 63px;
      background: $auxiliary-color;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &::after {
      content: "";
      width: 5px;
      height: 5px;
      position: absolute;
      bottom: 29px;
      right: 31px;
      border: 1px solid;
      border-left: $main-color-dark-block;
      border-bottom: $main-color-dark-block;
      transform: rotate(45deg);
    }

    &:hover {
      opacity: 0.6;
    }
  }


  .service-manufacturing {
    background-image: url("../img/bg/services/service-manufacturing-desktop.png");
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg/services/service-manufacturing-desktop@2x.png");
      background-size: cover;
    }
  }

  .service-installation {
    background-image: url("../img/bg/services/service-installation-desktop.png");
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg/services/service-installation-desktop@2x.png");
      background-size: cover;
    }
  }

  .service-components {
    background-image: url("../img/bg/services/service-components-desktop.png");
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg/services/service-components-desktop@2x.png");
      background-size: cover;
    }
  }


  @media (max-width: $desktop-width) {
    padding-top: 48px;
    padding-bottom: 32px;

    .services__wrap {
      padding: 0 1.5rem;
    }

    .services__block-services {
      width: 100%;
    }

    h3 {
      width: 86%;
      font-size: 32px;
      line-height: 42px;
      margin-left: 0;
      margin-bottom: 52px;
      margin-top: 4px;
    }

    a {
      width: 100%;
      max-width: 723px;
      height: 256px;
      padding: 40px 484px 5px 45px;
      margin: 0 auto 46px auto;
    }

    .service-manufacturing {
      background-image: url("../img/bg/services/service-manufacturing-tablet.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg/services/service-manufacturing-tablet@2x.png");
      }
    }

    .service-installation {
      background-image: url("../img/bg/services/service-installation-tablet.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg/services/service-installation-tablet@2x.png");
      }
    }

    .service-components {
      background-image: url("../img/bg/services/service-components-tablet.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg/services/service-components-tablet@2x.png");
      }
      padding-top: 50px;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 47px 0 34px 0;

    .services__wrap {
      width: 100%;
      padding: 0 0.9rem;
      margin: 0 auto;
    }

    h3 {
      width: 100%;
      font-size: 28px;
      line-height: 38px;
      margin: 5px 0 43px 11px;
    }

    a {
      margin-bottom: 30px;
      max-width: 483px;
      padding: 20px 3.9rem 5px 2.3rem;
    }

    .service-manufacturing {
      background-image: url("../img/bg/services/service-manufacturing-mobile.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg/services/service-manufacturing-mobile@2x.png");
        background-size: cover;
      }
    }

    .service-installation {
      background-image: url("../img/bg/services/service-installation-mobile.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg/services/service-installation-mobile@2x.png");
        background-size: cover;
      }
    }

    .service-components {
      background-image: url("../img/bg/services/service-components-mobile.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg/services/service-components-mobile@2x.png");
        background-size: cover;
      }
      padding-top: 31px;
    }
  }
}
